.signup-container {
    background-image: url('/images/nature-images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.signin-container {
    background-image: url('/images/BlackSandBeach.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}